debug: false

distributed_type: DEEPSPEED

deepspeed_config:
  gradient_accumulation_steps: 1
  gradient_clipping: 1.0
  offload_optimizer_device: none
  offload_param_device: none
  zero3_init_flag: false
  zero_stage: 2

mixed_precision: bf16
downcast_bf16: 'no'

main_training_function: main
enable_cpu_affinity: false
rdzv_backend: static
same_network: true
use_cpu: false
