debug: false

distributed_type: DEEPSPEED

deepspeed_config:
  gradient_accumulation_steps: 2
  gradient_clipping: 1.0
  offload_optimizer_device: none
  offload_param_device: none
  zero3_init_flag: false
  zero_stage: 2
  deepspeed_multinode_launcher: standard
  # 通信优化
  overlap_comm: true
  reduce_bucket_size: 5e8
  stage3_prefetch_bucket_size: 5e8
  stage3_param_persistence_threshold: 1e6
  contiguous_gradients: true

mixed_precision: bf16
downcast_bf16: 'no'

num_machines: 4
num_processes: 32

main_training_function: main
enable_cpu_affinity: false
rdzv_backend: static
same_network: true
use_cpu: false
